body{
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#WebGL{
    left: 250px;
    position: fixed;
    height: 100%;
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
}

#sliders{
  background-color: white;
}
