<li>
  <md-slider-container class="col-md-11">
    <span>Gold: {{cloud.materialSettings.Droplet.gold}}%</span>
    <md-slider ng-mouseup="UpdateCloud()" ng-change="UpdateDropletSliders()" flex="" min="0" max="100"
      ng-model="cloud.materialSettings.Droplet.gold" aria-label="red">
  </md-slider-container>

  <md-slider-container class="col-md-11">
    <span>Silver: {{cloud.materialSettings.Droplet.silver}}%</span>
    <md-slider ng-mouseup="UpdateCloud()" ng-change="UpdateDropletSliders()" flex="" min="0" max="100"
      ng-model="cloud.materialSettings.Droplet.silver" aria-label="red">
  </md-slider-container>

  <md-slider-container class="col-md-11">
    <span>Copper: {{cloud.materialSettings.Droplet.copper}}%</span>
    <md-slider ng-mouseup="UpdateCloud()" ng-change="UpdateDropletSliders()" flex="" min="0" max="100"
      ng-model="cloud.materialSettings.Droplet.copper" aria-label="red">
  </md-slider-container>

  <md-slider-container class="col-md-11">
    <span>Black: {{cloud.materialSettings.Droplet.black}}%</span>
    <md-slider ng-mouseup="UpdateCloud()" ng-change="UpdateDropletSliders()" flex="" min="0" max="100"
      ng-model="cloud.materialSettings.Droplet.black" aria-label="red">
  </md-slider-container>

  <md-slider-container class="col-md-11">
    <span>Blue: {{cloud.materialSettings.Droplet.blue}}%</span>
    <md-slider ng-mouseup="UpdateCloud()" ng-change="UpdateDropletSliders()" flex="" min="0" max="100"
      ng-model="cloud.materialSettings.Droplet.blue" aria-label="red">
  </md-slider-container>

  <md-slider-container class="col-md-11">
    <span>Red: {{cloud.materialSettings.Droplet.red}}%</span>
    <md-slider ng-mouseup="UpdateCloud()" ng-change="UpdateDropletSliders()" flex="" min="0" max="100"
      ng-model="cloud.materialSettings.Droplet.red" aria-label="red">
  </md-slider-container>
</li>
