<div class="container-fluid">
  <div class="row">
    <div ng-cloak class="col-md-2">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            Cloud controls
          </li>
          <li>
            <md-slider-container class="col-md-11">
              <span>Width: {{userWidth}} cm</span>
              <md-slider ng-mouseup="UpdateCloud()" flex="" min="{{cloud.minWidth}}" max="{{cloud.maxWidth}}"
                ng-model="userWidth" aria-label="red" id="red-slider">
            </md-slider-container>
            <md-slider-container>
          </li>
          <li>
            <md-slider-container class="col-md-11">
              <span>Length: {{userLength}} cm</span>
              <md-slider ng-mouseup="UpdateCloud()" flex="" min="{{cloud.minLength}}" max="{{cloud.maxLength}}"
                ng-model="userLength" aria-label="gray" id="red-slider">
            </md-slider-container>
          </li>
          <li>
            <md-slider-container class="col-md-11">
              <span>Height: {{userHeight}} cm</span>
              <md-slider ng-mouseup="UpdateCloud()" flex="" min="{{cloud.minHeight}}" max="{{cloud.maxHeight}}"
                ng-model="userHeight" aria-label="red" id="red-slider">
            </md-slider-container>
          </li>
      </ul>
    </div>
    <div id="WebGL" ng-mouseenter="ToggleControls(true)" ng-mouseleave="ToggleControls(false)" class="col-md-10 col-md-offset-2"></div>
  </div> <!-- row -->
</div>
