<div class="container-fluid">
  <div class="row">
    <div ng-cloak class="col-md-2">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            Cloud controls
          </li>
          <li>
            <md-switch class="col-md-11" ng-model="showBox" aria-label="Switch 1">
              Show box
            </md-switch>
          </li>
          <li>
            <md-switch class="col-md-11" ng-model="randomPlace" aria-label="Switch 1">
              Random placement
            </md-switch>
          </li>
          <cloud-size></cloud-size>
          <li>
            <md-slider-container class="col-md-11">
              <span>Noise scale: {{userNoiseScale}} </span>
              <md-slider ng-mouseup="RollSeed()" flex="" min="{{cloud.minNoiseScale}}" max="{{cloud.maxNoiseScale}}"
                ng-model="userNoiseScale" aria-label="red" id="red-slider">
            </md-slider-container>
          </li>
          <li>
            <md-slider-container class="col-md-11">
              <span>Gem height: {{meshSize}} cm</span>
              <md-slider ng-mouseup="UpdateCloud()" flex="" min="{{gemMesh.Min}}" max="{{gemMesh.Max}}"
                ng-model="meshSize" aria-label="red">
            </md-slider-container>
          </li>
          <li>
            <md-slider-container class="col-md-11">
              <span>Density</span>
              <md-slider ng-mouseup="UpdateCloud()" flex="" min="{{gemMesh.Min}}" max="100"
                ng-model="meshSize" aria-label="red">
            </md-slider-container>
          </li>
          <li>
            <md-button ng-click="RollSeed()" class="md-raised md-primary">new seed</md-button>
          </li>
          <li>
            <md-radio-group ng-model="selectedMesh" ng-change="SelectMesh()" class="md-primary col-md-11">
              <md-radio-button ng-value="'Droplet'">droplet</md-radio-button>
              <md-radio-button ng-value="'Crystal'">crystal</md-radio-button>
            </md-radio-group>
          </li>
      </ul>
    </div>
    <div id="WebGL" ng-mouseenter="ToggleControls(true)" ng-mouseleave="ToggleControls(false)" class="col-md-10 col-md-offset-2"></div>
  </div> <!-- row -->
</div>
