<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul class="sidebar-nav">
        <select-mesh></select-mesh>
        <crystal-materials ng-show="gemMesh.Selected.name == 'Crystal'"></crystal-materials>
        <droplet-materials ng-show="gemMesh.Selected.name == 'Droplet'"></droplet-materials>
        <cloud-size></cloud-size>
        <li>
          <md-switch class="col-md-11" ng-model="randomPlace" aria-label="Switch 1">
            Random placement
          </md-switch>
        </li>
        <noise-control></noise-control>
          <li>
            <md-slider-container class="col-md-11">
              <span>Gem height: {{cloud.meshHeight}} cm</span>
              <md-slider ng-mouseup="UpdateCloud()" flex="" min="{{gemMesh.Min}}" max="{{gemMesh.Max}}"
                ng-model="cloud.meshHeight" aria-label="red">
            </md-slider-container>
          </li>
          <li>
            <md-slider-container class="col-md-11">
              <span>Dispersion: {{cloud.count}} gems</span>
              <md-slider ng-mouseup="UpdateCloud()" flex="" min="{{gemMesh.Min}}" max="100"
                ng-model="cloud.meshHeight" aria-label="red">
            </md-slider-container>
          </li>
          <li>
            <md-button ng-click="RollSeed()" class="md-raised md-primary">new seed</md-button>
            <md-button ng-click="LogCloud()" class="md-raised md-primary">log</md-button>
          </li>
          <li>
            <md-button ng-click="Screenshot()" class="md-raised md-primary">picture</md-button>
          </li>
        </ul>
    </div>
    <div id="WebGL" ng-mouseenter="ToggleControls(true)" ng-mouseleave="ToggleControls(false)" class="col-md-10"></div>
  </div> <!-- row -->
</div>
